{% extends 'base.html' %}

{% block content %}
    Lorem ipsum dolor sit amet consectetur adipiscing elit, 
    sem justo suscipit euismod iaculis nullam. Ultrices egestas 
    sociis non porta condimentum ultricies nulla ut eleifend, ad erat nibh curae 
    felis urna aliquet quisque at tellus, suscipit vel bibendum ligula libero primis 
    facilisi id. Suscipit libero quam ultrices dictumst varius ante,
    donec laoreet consequat mattis senectus fames, ut justo morbi augue praesent.
{% endblock content %}

