{% extends 'base.html' %}

{% block content %}
  <h1>Lista de amigos</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Usuário</th>
      </tr>
    </thead>
    <tbody>
      {% if user.friends %}
        {% for friend in user.friends.all %}
          <tr>
            <td>
              {% if friend.profile_picture %}
                <img src="{{ friend.profile_picture.url }}" style="max_width:100px; height: 100px">
              {% endif %}
            </td>
            <td>
              <a href="{% url 'profile' friend.id%}"> {{ friend.username }}</a>
            </td>
          </tr>
        {% endfor %}
    {% endif %}
    </tbody>
  </table>
    <a href="{% url 'friend_requests' user.id %}" class="btn btn-primary">Solicitações de Amizade</a>
{% endblock content %}

