{% extends 'base.html' %}

{% block content %}
    {% if request.GET.search %}
    
      <div class="d-flex"style="justify-content: center; align-items: center; display: flex; padding:10px">
        <a href='{% url "games_list" %}?search={{request.GET.search}}' class='btn btn-light' style="margin: 20px"><h3>Jogos</h3></a>
        <a href='?search={{ request.GET.search }}&page=1' class='btn btn-primary'><h3>Usuários</h3></a>
      </div>  
      {% else %}
        <h1>Jogos</h1>
    {% endif %}

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4">
        {% for search_user in search_users %}
            <div class="col">
                <div class="card h-100">
                    <a href="{% url 'profile' search_user.username%}"><img src="{{ search_user.profile_picture.url }}" class="card-img-top" alt="{{ search_user.name }} cover"></a>
                    <div class="card-body"style="background-color: rgb(0, 61, 104);">
                        <h5 class="card-title">{{ search_user.username }}</h5>
                        <h7 class="card-title">{{ search_user.name }}</h7>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Nenhum Usuário encontrado</p>
        {% endfor %}
    </div>
    <div class="pagination">
      {% if page_number > 1 %}
        {% if request.GET.search %}
          <a href="?search={{ request.GET.search }}&page={{ page_number|add:"-1" }}" class="btn btn-primary">Anterior</a>
          {% else %}
            <a href="?page={{ page_number|add:"-1" }}" class="btn btn-primary">Anterior</a>
        {% endif %}
      {% endif %}
      {% if has_next%}
        {% if request.GET.search %}
          <a href="?search={{ request.GET.search }}&page={{ page_number|add:"1" }}" class="btn btn-primary">Próximo</a>
          {% else %}
            <a href="?page={{ page_number|add:"1" }}" class="btn btn-primary">Próximo</a>
        {% endif %}
      {% endif %}
    </div>
{% endblock content %}