{% extends 'base.html' %}

{% block content %}

  <h1 class="mt-5">{{user_profile.username}}</h1>
  {% if user_profile.profile_picture %}
  <p>
    <img src="{{ user_profile.profile_picture.url }}" style="max_width:250px; height: auto">
  </p>
  {% endif %}
  <dl>
    <dt>Name</dt>
    <dd>{{user_profile.name}}</dd>

    <dt>Data criação</dt>
    <dd>{{user_profile.date_joined|date:'d/m/Y'}}</dd>

    <dt>Sobre</dt>
    <dd>
      {{user_profile.about}}
    </dd>
    {% if is_friend %}
      <a href="{% url 'remove_friend' user_profile.username %}" class="btn btn-primary">Remover amigo</a>
      {% elif user_profile.id != user.id %}
        <a href="{% url 'send_friend_request' user_profile.username %}" class="btn btn-primary">Enviar pedido de amizade</a>
      {% elif user_profile.id == user.id %}
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Editar Perfil</a>
    {% endif %}
  </dl>
{% endblock content %}