{% extends 'base.html' %}

{% block content %}
<div style="max-width: 600px; margin: 50px auto; background-color: rgb(0,64,164); border-radius: 10px; padding: 20px;">
  <h1 style="color: white; text-align: center; padding-top: 30px;">Notificações</h1>
  <table class="table" style="color: white;">
    <thead>
      <tr>
        <th>Notificação</th>
        <th>Data</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      {% if notifications %}
        {% for notification in notifications%}
            <tr>
                <td>
                    <a style="text-decoration: none; color:white" href="{% url notification.url %}" >{{ notification.message}}</a>  
                </td>
                <td>
                    <p>{{notification.send_date}}</p>  
                </td>
                <td style="text-align: center;">
                  <a href="{% url 'delete_notification' notification.id%}" class="btn btn-danger">&#128465;</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}

