{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Avaliações</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Nota</th>
            <th>Data</th>
            <th>Comentário</th>
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
            <tr>
              <td>{{ review.score }}</td>
              <td>{{ review.date }}</td>
              <td>{{ review.comment }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3">Nenhuma avaliação recebida</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}