{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Tickets de Suporte</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Usuário</th>
            <th>Email</th>
            <th>Problema</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
            <tr>
              <td>{{ ticket.username }}</td>
              <td>{{ ticket.email }}</td>
              <td>{{ ticket.problem }}</td>
              <td>
                <a href="{% url 'delete_ticket' ticket.id%}">&#128465;</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3">Nenhum ticket de suporte recebido</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}